*~
temp
*.log
geckodriver*
__pycache__
*.pyc
.~*#

/WebPage/website/logs/
/.ipynb_checkpoints/
/calendar.ipynb
/WebPage/website/2018/
/WebPage/website/2014/
/WebPage/website/2015/
/WebPage/website/2016/
/WebPage/website/2017/
/WebPage/website/mobile/index test3.html
/WebPage/website/mobile/index_new.html
/WebPage/website/mobile/index-old.html
/WebPage/website/mobile/index_newer.html
/WebPage/website/mobile/index-old-v2.html
/WebPage/website/mobile/index-v4.html
.idea/
WebPage/website/mobile/index-SAVE.html
WebPage/website/mobile/index.html.bak
website/css/style-18Nov13.css
website/images/OpenOakland-400.psd
website/images/oologo-80.png
website/images/oologo.png
website/images/openoakland-32.jpg
website/images/openoakland-logo-32.png
website/images/openoakland-logo-open-70dc2dcc.png
website/images/openoakland.jpg
website/mobile/index-SAVE.html
website/mobile/index.html.bak
